<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Iniciar Sesion</ion-title>
    </ion-toolbar>
  </ion-header>
  <form [formGroup]="formularioInicioSesion" (ngSubmit)="iniciarSesion()">
    <ion-icon name="person-circle-outline" style="font-size: 300px; display: block; margin: 0 auto;"></ion-icon>
  <ion-text color="dark" class="ion-text-center">
    <h2>Bienvenido</h2>
  </ion-text>
  <ion-item>
    <ion-input label="Ingresa su usuario: " labelplacement="floating" fill="outline" type="text" formControlName="usuario"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Inrese su contraseña: "labelplacement="floating" fill="outline" type="password" formControlName="password"></ion-input>
  </ion-item>
  <ion-button type="submit" expand="block" style="margin: 20px auto;">Iniciar Sesion</ion-button>
  </form>
  <ion-spinner *ngIf="auth.$cargando | async" name="bubbles"></ion-spinner>


</ion-content>
